<div class="row">
    <div class="col-md-9 col-md-offset-3">
        <div class="col-md-8">
            <div class="thumbnail">
                <%= image_tag @annonce.image %><br /><br />
                <p>Titre:<br/><br/><%= @annonce.titre %></p><br/>
                <p>Descripton:<br/><br/>
                    <%= @annonce.description %></p><br/>
                <p><%= @annonce.prix %>
                    euro</p>
            </div>
            <p>
                Par:
                <%= @annonce.user.prenom %><br/><br/>
                Contact:
                <br/>
                <%= @annonce.user.telephone %><br/>
                <%= @annonce.user.email %>
            </p>
        </div>
    </div>
</div>
